[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/7nsk/
Environment="PYTHONPATH=/home/str/7nsk/"
ExecStart=/home/str/7nsk/.venv/bin/python /home/str/7nsk/bot_main.py

[Install]
WantedBy=multi-user.target